<!DOCTYPE html>
<html>
<head>
	{% extends "navbar.html" %}
	{% block head %}
  <style>
   	body{
   		font-family: Baskerville;
   		font-size: 24px;
      background-color: black;
      color: white;
   	}

    .container {
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;

    } 

    .italics {
      font-style: italic;
    }

    .left {
      text-align: left;
    }

    img{
      width: 100%;
    }

    .small-text {
      font-size: 18px;
    }

    p {
      margin-top: 10px;
    }

  </style>
  {% endblock %}

</head>

<body>
	{% block content %}
	<div class="container">
    <div class="row">
      <div class="col-md-12 left" style="margin-bottom: 50px; font-size: 40px;">About the project</div>
    </div>
    <div class="row">
      <div class="col-md-12" style="text-align: justify;">
        <div style="margin-bottom: 20px">This project was created by Lauren Pham for <a href="https://github.com/denten-courses/machine-lit/blob/master/README.md">CLEN-GU4728: Literature in the Age of Artificial Intelligence</a> taught by Professor Dennis Y. Tenen in the Department of English and Comparative Literature at Columbia University.</div>
        <div style="margin-bottom: 20px">Lauren is a BA candidate for the Class of 2021 in the Department of Computer Science at Columbia University.</div>
        <div style="margin-bottom: 20px;">The project's design is inspired by <a href="https://taper.badquar.to">Taper</a>, an online literary magazine for small computational pieces published by Bad Quarto.</div>
        <div style="margin-bottom: 20px">Contact her with comments or concerns at lyp2106(at)columbia(dot)edu.<div></div>
    </div>
	</div>
	{% endblock %}
</body>
</html>