<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'fade-in.css') }}">
  	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

  	 <style>
  	 	body{
  	 		text-align: center;
  	 		font-size: 24px;
  	 	}

		#generate-btn {
			margin: 20px auto;
			display: block;
		}

  	 	#A, #B, #C {
  	 		font-size: 28px;
  	 		text-align: left;
  	 		display: block;
  	 	}

  	 	.hide-item {
  	 		display: none;
  	 	}

  	 </style>

  	 <script>
  	 	var Clauses_A = {{Clauses_A|tojson}}
  	 	var Clauses_B = {{Clauses_B|tojson}} 
  	 	var Clauses_C = {{Clauses_C|tojson}}
  	 </script>

</head>

<body>
	{% extends "navbar.html" %}
	{% block content %}
	<button class="btn btn-primary" id="generate-btn">Generate a plot</button>
	<div id="clauses-container">
		<div id="A-clause" class="fade-in hide-item"></div>
		<div id="B-clause" class="fade-in hide-item"></div>
		<div id="C-clause" class="fade-in hide-item"></div>
	</div>
	{% endblock %}
</body>
</html>