<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"> </script>

	<style>
		html{
			font-family: Baskerville;
		}
	</style>
	
	{% block head %}
	{% endblock %}
	
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Plotto Generator</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active" id ="list_nav">
	        <a class="nav-link text-nowrap" href="http://127.0.0.1:5000/home">Generator</a>
	      </li>
	      <li class="nav-item" id="quiz_nav">
	        <a class="nav-link text-nowrap" href="http://127.0.0.1:5000/history">History</a>
	      </li>
	    </ul>
	  </div>
	</nav>

	<div class="container">

			{% block content %}

			{% endblock %}
	</div>
</body>
</html>
